/* game board table */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
  }

  h1 {
    font-size: 400%;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  #reminder{
      position: absolute;
      margin: auto;
      top: 10.5%;
      font-size: 150%;
  }

#mainDiv {
    width: 38%;
    background-color: white;
    /* border: solid 2px black; */
  }
  
  #board {
    width: 100%;
    height: 72vh;
  }

  table {
    border-spacing: 0px;
  }

#board td {
    width: 50px;
    height: 50px;
    background-color: rgb(236, 236, 0);
    position: relative;
  }

  .blank {
    background-color: white;
    border-radius: 50%;
    margin: 10%;
    width: 80%;
    height: 80%;
  }
  
  /* pieces are div within game table cells: draw as colored circles */
  
  .piece {
    margin: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  
  /* column-top is table row of clickable areas for each column */
  
  #column-top td {
    border: dashed 1px lightgray;
    background-color: white;
  }
  
  #column-top td:hover {
    background-color: gold;
  }

  .drop {
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation: dropPiece 1s;
    animation-iteration-count: 1;
  }

  @keyframes dropPiece {
  0% {
    bottom: 500px;
  }

  100% {
    bottom: 0px;
  }
}